*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav
{
    height: 100px;
    align-items: center;
    display: flex;
    background: rgb(36, 13, 13) no-repeat center center/cover;
}
.logo
{
    display: flex;
    position: absolute;
    left: 100px;
}
.logo img
{
    width: 40px;
    height: 30px;
}
.logo h2
{
    position: relative;
    color: white;
    letter-spacing: 4px;
}
nav ul
{
    position: absolute;
    justify-content: space-between;
    width: 60%;
    display: flex;
    left: 20%;
}
nav ul li
{
    list-style: none;
    font-size: 24px;
    padding: 12px 13px;
}
nav ul li a
{
    color: white;
    text-decoration: none;
}
nav ul li a:hover
{
    color: #29d9d5;;
}
nav .button
{
    color: #29d9d5;
    font-size: 24px;
    position: absolute;
    right: 40px;
    border: 2px solid #29d9d5;
    border-radius: 50px;
    padding: 10px;
}

.gallery
{
    background-color: rgba(255, 0, 212, 0.116);
    margin: 20px 50px 10px 50px;
    border-radius: 10px;
}
.gallery h2
{
    padding: 10px;
    color: blue;
}
.gallery div
{
    padding: 0px 10px 5px 10px;
    font-size: 18px;
}
.pics
{
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
    grid-auto-flow: dense;
}
.pics .photo 
{
    margin: 10px;
    overflow: hidden;
}
.pics .photo img{
    width:100%;
    height:100%;
    object-fit: cover;
    cursor:pointer;
}
.banner
{
    background: url('../imgaes/banner.png') no-repeat center center/cover;
    text-align: center;
    height: 50vh;
    opacity: 0.8;
}
.banner .start
{
    font-size: 40px;
    color: white;
    font-weight: 100;
    padding-top: 50px;
}
.banner h1
{
    font-size: 50px;
    color: white;
}
.banner .content
{
    margin: auto;
    width: 70%;
    /* border: 2px solid red; */
    font-size: 20px;
    padding-top: 20px;
    color: white;
}
.button{
    display: inline-block;
    color: #29d9d5;
    /* letter-spacing: 0.1rem; */
    padding: 1rem;
    border: 1px solid #29d9d5;
    border-radius: 30px;
}

.button:hover{
    border: none;
    background-color: #29d9d5;
    color: black;
    cursor: pointer;
}
footer 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    background-color: black;
}

footer .innerfooter
{
    margin: 3rem auto;
}

footer .innerfooter h3 
{
    font-size: 1.5rem;
    color: white;
    padding: 1rem auto;
}

footer .innerfooter p 
{
    font-size: 1.1rem;
    color: rgb(207, 206, 206);
    padding: 1rem auto;
    line-height: 3;
}

footer .innerfooter .footericons 
{
    padding-top: 1rem;
}

footer .innerfooter .footericons a 
{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.8rem;
    text-align: center;
    color: #29d9d5;
    border: 2px solid #29d9d5;
    border-radius: 50%;
    text-decoration: none;
    margin-right: .5rem;
}

footer .innerfooter .footericons a:hover 
{
    background: #29d9d5;
    color: black;
}

footer .innerfooter form .inputemail 
{
    width: 80%;
    background: none;
    font-size: 1rem;
    text-transform: none;
    color: rgb(207, 206, 206);
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    border: 2px solid #29d9d5;
    border-radius: 2rem;
}

footer .innerfooter form .pagebutton 
{
    background: none;
}

footer .innerfooter form .pagebutton:hover 
{
    background-color: #29d9d5;
    color: #111;
}
.pics .photo i
{
    display: none;
}
.photo img:hover
{
    opacity: 0.7;
}
.photo:hover i 
{
    font-size: 30px;
    position: absolute;
    color: black;
    display: block;
    margin-left: 190px;
    margin-top: 120px;
    z-index: 1000;
}
